<div class="container">
  <div id="players"
       class="players-slot"
       cdkDropList
       [cdkDropListData]="players"
       [cdkDropListConnectedTo]="['point1', 'point2', 'point3', 'point4', 'point5']"
       (cdkDropListDropped)="drop($event)">
    <div class="player" *ngFor="let player of players" cdkDrag>
      <div class="photo-slot">
        <div class="photo">
          <img src="{{player.photo}}">
        </div>
        <div class="number">{{player.number}}</div>
      </div>
      <div class="name">
        <div>{{player.firstname}}</div>
        <div>{{player.lastname}}</div>
      </div>
    </div>
  </div>
  <div class="football-field-slot">
    <div class="background">
      <img src="assets/football-field.png">
    </div>
    <div class="points-slot">
      <div *ngFor="let point of points; index as i"
           class="point"
           cdkDropList
           id="point{{i + 1}}"
           [cdkDropListConnectedTo]="['players', 'point1', 'point2', 'point3', 'point4', 'point5']"
           [cdkDropListData]="point"
           [cdkDropListEnterPredicate]="evenPredicate"
           (cdkDropListDropped)="drop($event)">
        <div class="player at-point" cdkDrag *ngFor="let player of point">
          <div class="photo-slot">
            <div class="photo">
              <img src="{{player.photo}}">
            </div>
            <div class="number">{{player.number}}</div>
          </div>
          <div class="name">
            <div>{{player.firstname}}</div>
            <div>{{player.lastname}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
